{ pkgs, ... }:

{
  # Define a user account. Don't forget to set a password with ‘passwd’.
  programs.zsh.enable = true;
  users.users."%USER%" = {
    isNormalUser = true;
    shell = pkgs.zsh;
    description = "%NAME%";
    extraGroups = [
      "networkmanager"
      "wheel"
    ];
  };
}
